
*{
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Abril Fatface', cursive;
font-family: 'Kdam Thmor Pro', sans-serif;
  
}
.nav-links{
    flex:1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(18, 18, 16);
    text-decoration:none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(210, 9, 22);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*-------location------*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    text-align: center;
}